<form id="myForm" action="/data" method = "POST" enctype="multipart/form-data">
    <p>Télécharger un fichier : <input type="file"
       id="file" name="image"
       accept="image/png, image/jpeg" onchange="loadFile(event)">
    </p>
    <p>ou sélectionner une image :
        <select id="option" name="option" width="300px" onchange="loadFile2(this.value)">
            <option disabled selected value> -- choisir une image -- </option>
            {% for x in image_list %}
            <option value="{{ x }}">{{ x }}</option>
            {% endfor %}
        </select>
    </p>
    <button onclick="check_form()">Segmenter l'image</button>
</form>

<div>
    <img id="output" width="400" />
</div>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        document.getElementById('option').value = ""
        
    };
    function loadFile2(value) {
        var image = document.getElementById('output');
        image.src = "{{ path_image_test }}" + value;
        document.getElementById('file').value = ""
    };
    function check_form() {
        //alert("option : " + document.getElementById('option').value + " ,file : " + document.getElementById('file').value)
        if (document.getElementById('option').value || document.getElementById('file').value) {
            document.getElementById("myForm").submit()
        } else {
            alert("Téléchargez une image ou sélectionnez une image avant de passer à la phase de segmentation") 
        }
    };

</script>